@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  background: linear-gradient(90deg, #9EBAF3 35%, #FED9B7 100%);
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}

/* =====================================================================-NAVAR SECTION STARTS=============================================================== */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  /* background-color: #fff; */
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  Backdrop-filter: blur(60px);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
header .symbol {
  display: flex;
}
header img {
  width: 7%;
}
header h1 {
  font-size: 2.6rem;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #ff7b00;
  border-bottom: 0.2rem solid #ff7b00;
  padding: 0.5rem 0;
}
/* ++++++++++++++++++++HAMBURGER ICON START+++++++++++++++++++ */
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
/* ++++++++++++++++++++HAMBURGER ICON START+++++++++++++++++++ */

/* +++++++++++++++++++++MEDIA QUERIES START+++++++++++++++++++ */
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header img {
    width: 11%;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #fff;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #000;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #ff7b00;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #ff7b00;
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* +++++++++++++++++++++MEDIA QUERIES ENDS+++++++++++++++++++ */
/* =====================================================================-NAVBAR SECTION ENDS================================================================ */

/* =====================================================================-HOME SECTION STARTS================================================================ */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 40vw;
  height:60vh;
  margin-left: 6rem;
  cursor: pointer;
}
.home .image img:hover {
  transform: scale(1.09);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #800200;
}
.home .content h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.home .content p {
  font-size: 1.3rem;
  color: #ff7b00;
  font-weight: 600;
  padding: 1rem 0;
}

/* +++++++++++++++++++++MEDIA QUERIES START+++++++++++++++++++ */
@media (max-width: 650px) {
.home .content{
  padding: 2rem;
  margin-top: 6rem;
}
.home .content h2 {
  font-size: 2.8rem;
  font-weight: 800;
  color: #DAF1DE;
}
.home .image img {
  margin-top: -4rem;
}
}
/* +++++++++++++++++++++MEDIA QUERIES ENDS++++++++++++++++++++ */
/* =====================================================================-HOME SECTION ENDS================================================================== */

/* =====================================================================-ABOUT SECTION STARTS=============================================================== */
.about {
  background-color: #EB69B;
  position: relative;
  min-height: 100vh;
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 1rem;
  width: 95%;
  height: 90%;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
  transform: scale(1.09);
}
.about .row .content {
  flex: 1 1 45rem;
  padding: .6rem;
}
.about .row .content h3 {
  color: #800200;
  font-size: 2.5rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content p span{
  color: #800200;
  font-weight: bold;

}

/* +++++++++++++++++++++MEDIA QUERIES STARTS++++++++++++++++++ */
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
}
/* +++++++++++++++++++++MEDIA QUERIES ENDS++++++++++++++++++++ */
/* =====================================================================-ABOUT SECTION ENDS================================================================= */

/* =====================================================================-SERVICES SECTION STARTS============================================================ */
.services{
  position: relative;
  min-height: 100vh;
}
.services p {
  font-size: 1.4rem;
  color: #000;
  font-weight: 300;
  text-align: center;
}
.service-bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  justify-content: space-around;
  padding: 3rem 1rem 5rem 1rem;
}

.service-box {
  flex: 1 1 30rem;
  padding: 2rem 2rem 4rem;
  background: #fff;
  border-radius: 2rem;
  text-align: center;
  justify-content: space-evenly;
  border: .2rem solid var(--bg-color);
  box-shadow: 0px 0px 10px 0px #666;
  transition: .5s ease;
}

.service-box:hover {
  transform: scale(1.02);
}

.service-box i {
  font-size: 4.2rem;
  color: #800200;
}

.service-box h3 {
  font-size: 2.3rem;
}

.service-box p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
  align-content: space-evenly;
  justify-content:space-evenly;
}

/* =====================================================================-SERVICES SECTION ENDS============================================================== */


/* =====================================================================-CAREER SECTION STARTS=============================================================== */
.career
    {
        width: 80%;
        height: auto;
        margin: 5rem auto 5rem auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px #666;
    }
    .career-form
    {
        margin-top: .5rem;
        width: 100%;
        height: auto;
        flex: 50%;
        text-align: left;
    }
    .career-form-txt, .career-form-experience
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
    .career-form-email
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
.career-form-txt::placeholder, .career-form-experience::placeholder
{
  color: #aaa;
        font-size: 1.5rem;
    }
    .career-form-email::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
    .radio-class
    {
        margin-left: 0;
        width: 110%;
        margin-top: -2.5rem;
        height: auto;
        color: #000;
        margin-bottom: auto;
        padding: 15px;
    }
    .radio
    {
        font-size: 1.5rem;
        margin-right: 5rem;
    }
    .career-form-txtarea
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 130px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
    }
    .career-form-txtarea::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
    .file   
    {
        margin-left: 0;
        width: 100%;
        margin-top: -2.5rem;
        height: 40px;
        color: #000;
        margin-bottom: 5rem;
        padding: 15px;
    }
    .upload
    {
        margin-top: .75rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .career-form-btn
    {
        margin-left: 1rem;
        outline: none;
        border: none;
        border-radius: 5rem;
        background: white;
        border-style: groove;
        border-color: #002e5f;
        font-size: 1.5rem;
        cursor: pointer;
        height: 3.5rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        width: 15rem;
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
    }
    .career-form-btn:hover{
        letter-spacing: .1rem;
        opacity: .9;
        color: white;
        background: #002e5f;
    }
    .career-form-phone
    {
        margin-left: 1rem;
        width: 96.5%;
        height: 40px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 1.5rem;
    }
    .career-form-phone::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
/* =====================================================================-CAREER SECTION ENDS================================================================= */

/* =====================================================================-CONTACT SECTION STARTS============================================================== */
.contact {
  text-align: center;
  align-items: center;
}

.contact .heading {
  margin-bottom: 5rem;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto auto 5rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: left;
}
.contact-form-txt {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-email {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
.contact-form-email::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
.contact-form-txtarea {
  margin-left: 2rem;
  width: 95%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}
.contact-form-txtarea::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}

.contact-form-btn {
  margin-left: 2rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  background: white;
  border-style: groove;
  border-color: #002e5f;
  font-size: 1.5rem;
  cursor: pointer;
  height: 3.5rem;
  width: 15rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.contact-form-btn:hover {
  letter-spacing: 0.1rem;
  opacity: 0.9;
  color: white;
  background: #002e5f;
}
.contact-form-phone {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-phone::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
/* =====================================================================-CONTACT SECTION ENDS=============================================================== */

/* =====================================================================-FOOTER SECTION STARTS=============================================================== */
.footer {
  min-height: auto;
  padding-top: 0;
  background-color: #0f4c5c;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #ffae00;
  padding-bottom: 1rem;
  font-weight: 700;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
/* +++++++++++++++++++++MEDIA QUERIES START+++++++++++++++++++ */
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}
/* +++++++++++++++++++++MEDIA QUERIES ENDS++++++++++++++++++++ */
/* =====================================================================-FOOTER SECTION ENDS=============================================================== */
